<ion-content>
    <ion-header-bar class="bar-stable">
        <a class="button icon ion-backspace-outline" href='#/'></a>
        <h1 class="title">One.com gallery</h1>
    </ion-header-bar>

    <label class="item item-input item-floating-label">
        <span class="input-label">Searching for:</span>
        <input type="text" placeholder="Searching for:" ng-model="vm.keyword" ng-model-options="{ debounce: 1000 }">
    </label>
    <button class="button button-full button-light" ng-show="vm.loading">Loading from Souq.ae...</button>
    <button class="button button-full button-light" ng-show="vm.emptyResults">Nothing to show</button>
    <div class="list" >

        <a class="item item-thumbnail-left" ng-repeat="item in items">
            <img ng-src="{{item.images.M[0]}}">
            <h2>{{item.label}}</h2>
            <p>{{item.offer_price}} {{item.currency}}</p>
        </a>

    </div>
</ion-content>