/* Empty. Add your own CSS if you like */

#loading {
	display: none;
	text-align: center;
}


#myimage {
/*	border: 1px dashed #ccc; */
	display: block; 
	width: 100vw;
	height: 100vh;
	background-size: cover;
}
